@using Nota.Site.Generator
@using System.Linq
@model Stasistium.Documents.IDocument;
@{
  Layout = @"base.cshtml";
  var backReferences = string.Join("", Model.Id.Where(x=>x == '/').Select(x=> "../"));
}

@{
    var meta = Model.Metadata.GetValue<BookMetadata>();
    var title = meta?.Title ?? string.Empty;
    

    var tableOfContents = Model.Metadata.GetValue<TableOfContents>();
 
    ViewBag.Title = title;
}

@section Head{
    <link rel="stylesheet" type="text/css" href="@(backReferences)css/book.css">
    @if(meta.Version.IsDraft){
        <link rel="stylesheet" type="text/css" href="@(backReferences)css/book.editable.css">
    }
}


@section submenue{
    @{
    Func<IEnumerable<TableOfContentsEntry>, Microsoft.AspNetCore.Html.IHtmlContent> WriteMenue = null;
    WriteMenue = @<text>@{
            var entrys = item;
            @:<ol>
            foreach (var entry in entrys)
            {
                var page = meta.Location + "/"+ entry.Page;
                var anchorId =entry.Id;
                if(string.IsNullOrEmpty(anchorId)){
                    anchorId = "top";
                }
                var link = System.Uri.EscapeUriString(page) + ".html#" + anchorId;
                var name = entry.Title;
                if(string.IsNullOrWhiteSpace(name)){
                    name = "Vorwort";
                }

                @:<li>
                    if(page == Model.Id && (entry.Level == 1 || entry.Level == 0)){
                        @:<a href="@(backReferences)@link" class="selected" >@name</a>
                    }
                    else
                    {
                        @:<a href="@(backReferences)@link" >@name</a>
                    }
                    if(entry.Sections.Count > 0){
                        @WriteMenue(entry.Sections);
                    }
                @:</li>
            }
            @:</ol>
        }</text>;

        @:<nav class="outline">

var siteData = Model.Metadata.GetValue<AllBooksMetadata>();
    var versions = siteData.Books.Where(x=>x.Number == meta.Number && meta.BookType == x.BookType);
if(versions.Count()>1){
    @:<select class="versionList script" onchange="window.location.assign(this.value);">
        foreach (var book in versions)
        {
            if(book.Version == meta.Version){
                @:<option value="/@(book.Location)/index.html" selected="selected">@book.Version (@book.Title)</option>
            }else {
                @:<option value="/@(book.Location)/index.html">@book.Version (@book.Title)</option>
            }
        }
    @:</select>

@:<h1 class="noScript" >Versionen</h1>
    @:<ul class="noScript versionList">
        foreach (var book in versions)
        {
            if(book.Version == meta.Version){
                @:<li><a href="/@(book.Location)/index.html" selected>@book.Version (@book.Title)</a></li>
            }else {
                @:<li><a href="/@(book.Location)/index.html">@book.Version (@book.Title)</a></li>
            }
        }
    @:</ul>

} else {
    @:<div>@meta.Version (@meta.Title)</div>
}

    if(tableOfContents != null){
            <h1>Inhaltsverzeichniss</h1>
            @WriteMenue(tableOfContents.Chapters);
        }  
        @:</nav>
    }
}
    @RenderBody()

@{
    var silblings = Model.Metadata.TryGetValue<SilblingMetadata>();
    
    var nextLink = silblings.Next;
    var previousLink = silblings.Previous;

}
@section pagination{
@if(silblings !=null){
 
    <nav class="pagination">
        @if(previousLink == null) {
            <a class="button disabled" style="float: left">Zurück</a>
        } else {
            <a class="button" href="@previousLink" style="float: left">Zurück</a>
        }
        <a class="button" href="#top">Top</a>

        @if(nextLink == null){
            <a class="button disabled" style="float: right;">Weiter</a>
        } else {
            <a class="button" href="@nextLink" style="float: right">Weiter</a>
        }
        
    </nav>
}
}
